<main>
	<section>

		<div class="external-slider-container">
			<div class="slider-container">
				<h2>Pokemons</h2>
				<div class="slider x">
					@for (pokemon of pokemonsList$ | async; track $index) {
					<div class="preview-container" [routerLink]="['/pokemon', pokemon?.name]">
						<img [src]="pokemon.sprite.front_default" alt="" class="pokemons" />
						<h4>{{ pokemon.name }}</h4>
						@for (types of pokemon.type; track $index) { 
						<span>{{ types.type.name }}</span>
						}
					</div>
					}
				</div>
			</div>
			<div class="slider-container">
				<h2>Poke Bolas</h2>
				<div class="slider y">
					@for (pokeball of pokeballsList$ | async; track $index) {
					<div class="preview-container">
						<img [src]="pokeball.sprite" alt="" class="pokeballs" />
						<h4>{{ pokeball.name }}</h4>
					</div>
					}
				</div>
			</div>
		</div>
	</section>
</main>
